.chat {
  display: flex;
  flex-direction: row;
  transition: all 0.25s ease-in-out;
}

.chat__thread-list {
  width: 240px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  position: fixed;
  transition: all 0.25s ease-in-out;
}

.chat__selected-thread {
  flex: 1 0;
  padding-left: 240px;
  transition: all 0.25s ease-in-out;
}

.chat__selected-subthread {
  z-index: 1;
  flex: 0 0 320px;
  transition: all 0.25s ease-in-out;
}