@keyframes slide-subthread-in {
  0% {
    opacity: 0;
    transform: translateX(1em);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.selected-subthread {
  height: 100%;
  padding: 2em 1em;
  background-color: #fafafa;
  transform: translateX(1em);
  border-left: 1px solid #f2f2f2;
  animation: slide-subthread-in 0.5s ease forwards;
}