@keyframes slide-subthread-in {
  0% {
    opacity: 0;
    transform: translateX(1em);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.selected-thread--subthread {
  background-color: #fafafa;
  transform: translateX(1em);
  animation: slide-subthread-in 0.5s ease forwards;
}

.selected-thread--subthread .selected-thread__header__title {
  font-weight: 400;
}