@keyframes slide-subthread-in {
  0% {
    opacity: 0;
    transform: translateX(1em);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.selected-thread--subthread {
  background-color: #fafafa;
  transform: translateX(1em);
  animation: slide-subthread-in 0.5s ease forwards;
}

.selected-thread--subthread .selected-thread__header__title {
  font-weight: 400;
}

.selected-thread--subthread .close-button {
  float: right;
  opacity: 0.35;
  cursor: pointer;
  font-size: 1.5em;
  transition: all 0.25s ease-in-out;
}

.selected-thread--subthread .close-button:hover {
  opacity: 1;
  transition: all 0.25s ease-in-out;
}